[Desktop Entry]
Version=1.0
Type=Application
Name=4
Comment=
Exec=sh -c "~/.scripts/Wall/wall4 %f"
Icon=/.awn1/virtuel4.svg
Path=
Terminal=false
StartupNotify=false
