[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/guillaume/Bureau/exclusions.txt]
row=3
col=0

[/home/guillaume/Bureau/Photos]
row=0
col=0

[/home/guillaume/Bureau/Jane_Fonda___Life_s_Third_Act.webm]
row=2
col=0

