[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/guillaume/Bureau/L_art_de_voir___Aldous_Huxley.epub]
row=1
col=0

[/home/guillaume/Bureau/Devenir_super_conscient___Joe Dispenza.pdf]
row=2
col=0

[/home/guillaume/Bureau/Apps_for_ethical_hacking_training.jpg]
row=3
col=0

[/home/guillaume/Bureau/Macron-et-son-Crepuscule.pdf]
row=0
col=0

