[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/guillaume/Bureau/[ Torrent9.red ] PirInDos15 - 2018-04 05 06 (1).pdf]
row=5
col=0

[/home/guillaume/Bureau/Joe Dispenza - Devenir super-conscient.pdf]
row=6
col=0

