[Desktop Entry]
Version=1.0
Type=Application
Name=Ranger
Comment=
Exec=sh -c "~/.scripts/Wall/wall5-ranger %f"
Icon=/.awn1/ranger.svg
Path=
Terminal=false
StartupNotify=false
